import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'helpers/slick.css'

import('../blocks/**/*')

body {
  font-family: 'Montserrat', sans-serif;
}

b {
  font-weight: 700;
}