.subtitle
	display block
	text-align center
	line-height 30px
	font-size 22px
	color $text
	font-weight 300
 
	&_light
		color $c-white  
		
	&_left
		text-align left
		
	&_inline
		display inline-block
 
	+below($mobile)
		font-size 14px
		line-height 20px