include ../header/header
include ../intro/intro
include ../portfolio/portfolio
include ../landing-layers/landing-layers
include ../search-queries/search-queries
include ../adaptive/adaptive
include ../work-stages/work-stages
include ../team/team
include ../route/route
include ../present/present
include ../partners/partners
include ../footer/footer
include ../modal/modal
include ../contact-form/contact-form

mixin index()
	+b.index&attributes(attributes)
		+header(getData('header'))
		+intro()
		+portfolio(getData('portfolio'))
		+landing-layers(getData('landingLayers'))
		+search-queries(getData('searchQueries'))
		+adaptive()
		+work-stages(getData('stages'))
		+team(getData('team'))
		+route()
		+present()
		+partners()
		+footer()
		+modal#contact-form
			+contact-form