include ../header/header
include ../intro/intro
include ../portfolio/portfolio
include ../landingLayers/landingLayers

mixin index()
	+b.index&attributes(attributes)
		+header(getData('header'))
		+intro()
		+portfolio(getData('portfolio'))
		+landingLayers(getData('landingLayers'))