.title
	display block
	text-align center
	line-height 68px
	font-size 38px
	color $text
 
	&_light
		color $c-white 
 
	+below($tablet)
		font-size 30px
		line-height 52px
		
	+below($mobile)
		font-size 20px
		line-height 24px
		margin-bottom 15px