.present
	display block
	height 407px
	padding-top 70px
	background-image url('/images/footer_bg.jpg')
	background-position left top
	background-repeat no-repeat
	background-color #F9F9FB
	text-align center
	
	+below($desktop)
		background-position center top
		
	+below($tablet)
		padding-top 22px
		padding-bottom 36px
		height auto
		background-image none
	
	&__button
		margin-top 75px