.button
	display inline-block
	background $c-orange
	height 60px
	border-radius 50px
	border none
	color $c-white
	font-family 'Montserrat', sans-serif
	font-weight 500
	font-size 14px
	line-height 60px
	width 240px
	
	&_theme
		&_blue
			width auto
			background $c-blue
			font-size 18px
			padding-x 30px
			
			+below($mobile)
				padding-x 20px
				font-size 14px
				line-height 36px