iconTransforms($num)
	&.icon-{$num}
		margin-left 140px * ($num - 1)
	
		+below($tablet)
			margin-left 0
			left 50%
			bottom -120px
			
iconTransformsOnChecked($num, $checked)
	&.icon-{$num}
		+below($tablet)
			&[data-icon-checked=\"{$checked}\"]
				transform translateX(-50% + 50% * ($num - $checked))

.landing-layers
	display block
	background-color $c-light-gray
	padding-top 75px
	overflow hidden
	
	+below($mobile)
		padding-top 0
	
	&__header
		+below($tablet)
			padding-x 20px

		+below($mobile)
			display none
	
	&__content
		margin-x auto
		width 100%
		max-width 830px
		height 680px
		position relative
		
		+below($tablet)
			height 400px
	
	&__nav
		margin-top 80px
		border-bottom 2px solid $c-dark-gray
		text-align center
		font-size 0
		
		+below($mobile)
			margin-top 0
		
	&__nav-label
		display inline-block
		width 150px
		font-size 17px
		cursor pointer
		font-weight 500
		
		+below($tablet)
			width 120px
			
		+below($mobile)
			width 60px
			font-size 13px

	&__nav-radio
		display none
		
		&:checked 
			& + .landing-layers__nav-item
				border-bottom-color $c-orange
				color $c-orange
			
			& ~ .landing-layers__nav-content
				opacity 1
				
			& ~ .landing-layers__nav-icon
				bottom -20px
		
	&__nav-item
		display block
		color $text
		line-height 48px
		border-bottom 3px solid transparent
		margin-bottom -3px
		
	&__nav-content
		position absolute
		left 90px
		right 90px
		top 200px
		opacity 0
		transition ease .3s opacity
		width auto
		text-align left
		font-weight 500
		
		+below($tablet)
			top 100px
		
		+below($mobile)
			left 30px
			right 30px
		
	&__title
		display block
		color $c-orange
		font-size 24px
		line-height 24px
		margin-bottom 13px
		
	&__desc
		display block
		color $text
		font-size 13px
	
	&__nav-icon
		position absolute
		left -40px
		bottom -160px
		transition ease .3s all
		box-shadow 0px 7px 19px rgba(0, 0, 0, 0.12)
		background-color rgba($c-white, .5)
		
		+below($tablet)
			width 250px

		svg
			width 360px
			height 320px
			
			+below($tablet)
				width 250px
				height 220px
				
		for num in (1..5)
			iconTransforms(num)
			
			for checked in (1..5)
				iconTransformsOnChecked(num, checked)