include ../icon/icon
include ../title/title
include ../subtitle/subtitle

mixin landing-layers(items)
	- var items = items || []
	+b.landing-layers&attributes(attributes)
		+e.header
			+title Из чего состоит продающий сайт
			+subtitle Эффективность сайта отпределяется проработкой каждого модуля
		+e.content
			+e.nav
				each item, i in items
					+e('label').nav-label
						+e('input').nav-radio(type='radio' name='nav' value=(i + 1) checked=i===0)
						+e.nav-item= item.name
						+e.nav-content
							+e.title= item.title
							+e.desc= item.desc
						+e.nav-icon(class=`icon-${i + 1}` data-icon-checked='1').js-layer-icon
							+icon(item.icon)
