include ../button/button

mixin intro()
	+b.intro&attributes(attributes)
		+e.image
			+e.content
				+e.header
					| Пусть сайты
					b
						| работают
					|  за вас
					b
						| 24/7
				+e.text
					| Мы создаем адаптивные автоматизированные сайты
					br
					| и цифровые системы для бизнеса
				+e.button
					+button({ theme: 'blue' })
						| Получить скидку на проект

			+e('img').laptop(src='/images/laptop.png')
		+e.about
			+e.about-header Кто мы?
			+e.company-name Digital Studio Arizona
			+e.about-text Для нас Digital — это не просто работа, это дело которое помогает многим компаниям становиться лучше, привлекать клиентов и масштабировать бизнес с помощью технологии мультилендинга.