$text-gray = #555
$text = #2D2D2D

$c-light-gray = #F7F7F9
$c-gray = #E7E7E7
$c-dark-gray = #D4D4D4
$c-white = #fff
$c-orange = #E96610
$c-blue = #001AFF

$mobile = 640px
$tablet = 1024px
$laptop = 1280px