mixin partners()
	+b.partners&attributes(attributes)
		+e.partner
			+e('img').image(src='/images/partner1.png')
		+e.partner
			+e('img').image(src='/images/partner2.png')
		+e.partner
			+e('img').image(src='/images/partner3.png')
		+e.partner
			+e('img').image(src='/images/partner4.png')
		+e.partner
			+e('img').image(src='/images/partner5.png')
		+e.partner
			+e('img').image(src='/images/partner6.png')