include ../container/container

mixin header(header)
	- var header = header || {}
	- var nav = header.nav || []
	- var phone = header.phone || ''

	+b.header&attributes(attributes)
		+container
			+e.inner
				+e.logo
					| Лого
				+e('ul').nav
					each item in nav
						+e.item
							+e('a').link.js-header-nav(href=`#${item.id}`)
								= item.title
				+e('a').phone(href=`tel:+7${phone.replace(/[^0-9]/g, '').substr(1)}`)= phone
