include ../container/container

mixin header(header)
	- var header = header || {}
	- var nav = header.nav || []
	- var phone = header.phone || ''

	+b.header&attributes(attributes)
		+container
			+e.inner
				+e.logo
					| Лого
				+e('ul').nav
					each item in nav
						+e.item
							+e('a').link(href=`#${item.id}`)
								= item.title
				+e.phone= phone
